<!-- Generated template for the AssessmentDetailsComponent component -->
<div *ngIf="assessment">
      <h2>{{assessment.extended_name}} details!</h2>
      <div><label>id: </label>{{assessment.id}}</div>
      <div>
        <label>name: </label>
        <input [(ngModel)]="assessment.extended_name" placeholder="name"/>
      </div>
</div>
