html, body {
    font-size: 15px!important;
}


// .login-page {
    //     height: 768px;
    //     width: 546.3px;
    //     opacity: 0.6;
    //     background: linear-gradient(40.65deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
    // }

    // .submit-btn {
    //     height: 36px;
    //     width: 345px;
    //     border-radius: 4px;
    //     background-color: #78D44F;

    //  }
 
    //  .register-btn {
    //     height: 36px;
    //     width: 345px;
    //     border-radius: 4px;
    //     background-color: #78D44F;

    //  }

    //  .email-text {
    //     height: 14px;
    //     width: 51px;
    //     color: #FFFFFF;
    //     font-family: "SF UI Text";
    //     font-size: 12px;
    //     line-height: 14px;
    //   }

    //   .login-box {
    //   background: #399F8B;
    //   padding: 20px 20px 0px 20px;
    //   margin-top: 30px;
    // }

    // .forgot-password {
    //     height: 14px;
    //     width: 98px;
    //     color: #FFFFFF;
    //     font-family: "SF UI Text";
    //     font-size: 12px;
    //     font-weight: 600;
    //     line-height: 14px;
    // }
