<ion-content>
	<div id="main" class="login-page">
			<div class="container">
				<div class="row" style="padding-top:100px;">
					<div class="col-md-6 text-center" >
						<div class="branding-left align-middle">
							<img src="./assets/images/svg/novopsych-logo.svg" alt="" class="pt-5" style="width:175px;">
							<h1 class="mt-3">NovoPsych</h1>
							<p class="lead mt-4">Administer assessments, receive reports.<br/> For Psychologists, <br/>Psychiatrists &amp; Counsellors</p>
						</div>
					</div>
					<div class="col-md-6">
						<form (submit)="doLogin()">
							<legend>Login</legend>
							<div class="form-group">
                                <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
                                <ion-input class = "form-control" type="email" [(ngModel)]="credentials.username" name="email"></ion-input>
							</div>

							<div class="form-group">
                                <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
                                <ion-input class="form-control" type="password" [(ngModel)]="credentials.password" name="password"></ion-input>
							</div>
							<a href="#" class="font-small color-white">Forgot Password?</a>
							<div class="form-group pt-4">
                                <button ion-button class="btn btn-primary w-100" color="primary">{{ 'LOGIN_BUTTON' | translate }}</button>
							</div>
							<hr class="my-4 mx-0 line">
							<h4 class="my-0">New to NovoPsych?</h4>
							<div class="form-group mt-4">
                                <button ion-button class="btn btn-primary w-100" (click)="signup()">{{ 'SIGNUP_BUTTON' | translate }}</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</ion-content>
