<ion-tabs>
	<div class="tabs-wrapper">
		<ion-tab [root]="tab1Root" [tabTitle]="tab1Title" tabIcon="ios-home-outline"></ion-tab>
		<ion-tab [root]="tab2Root" [tabTitle]="tab2Title" tabIcon="ios-people-outline"></ion-tab>
		<ion-tab [root]="tab3Root" [tabTitle]="tab3Title" tabIcon="ios-clipboard-outline"></ion-tab>
		<ion-tab [root]="tab3Root" [tabTitle]="tab4Title" tabIcon="ios-settings-outline"></ion-tab>		
	</div>
</ion-tabs>
