<!--
  Generated template for the SelectAssessmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Select Assessment(s) for Estelle Potter</ion-title>

    
    <ion-buttons right>
      <button ion-button icon-only (click)="cancel()" end>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filterAssessments($event)"></ion-searchbar>
  <ion-list inset> 
    <button ion-item *ngFor="let item of assessments " (click)="assessmentSelected(item)">
            <h2>{{item.short_name}} {{item.extended_name}}</h2>
          </button>
  </ion-list>

  <!--<tags-input [(ngModel)]="selectedAssessments"></tags-input>-->
  <ion-tags-input [(ngModel)]="assessmentNameTag" [placeholder]="'add assessment'" (onChange)="onChange($event)"></ion-tags-input>
  <!--<ion-list>
    <ion-item>
      <ion-select *ngFor="let assessment of assessments " (click)="clientSelected(assessment)" [(ngModel)]="selectedAssessments" multiple="true">
        <ion-option value="assessmentId">{{assessment.short_name}} {{assessment.extended_name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>-->
</ion-content>


