<!-- Generated template for the ClientDetailsComponent component -->

<div *ngIf="client">
      <h2>{{client.first_name}} details!</h2>
      <div><label>id: </label>{{client.id}}</div>
      <div>
        <label>name: </label>
        <input [(ngModel)]="client.first_name" placeholder="name"/>
      </div>
</div>
