<!--
  Generated template for the ClientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <ion-row>
    <ion-col>
      <ion-navbar>
        <ion-title>Assessments</ion-title>
      </ion-navbar>

     <ion-searchbar (ionInput)="filterAssessments($event)"></ion-searchbar>
    <ion-list inset> 
    <button ion-item *ngFor="let item of assessments " (click)="assessmentSelected(item)">
            <span>{{item.short_name}}</span>
            <span> {{item.extended_name}}</span>
          </button>
  </ion-list>
    </ion-col>
    <ion-col>
      <assessment-details [assessment]="assessment"></assessment-details>
    </ion-col>
  </ion-row>
</ion-content>