ion-label{
	font-size: 1rem;
}
ion-input.form-control{
	padding: 0px;
	.text-input-md{
		padding: 1rem;
		margin: 0px;
	}
}
.tabs-md .tabbar{
    padding: 0px 25%;
    .tab-button{
	    text-decoration: none;
    }
}
ion-list{
	.item-md.list-group-item{
		background: #fff;
		padding: 0px;
		outline: none;
		.item-inner{
			padding: 0px 16px;
			.label-md{
				overflow: visible;
			}
		}
	}
}
.li-block{
	outline: none!important;
}
form{
	.label-md[stacked] {
	    font-size: 0.8rem;
	    color: #999;
	}
	.item-md{
		padding: 0px!important;
		border: 0px!important;
		box-shadow: none!important;
		.item-inner{
			border:0px!important;
		}
	}
	ion-input{
	    padding: 4px 16px;
	    background: #fff;
	    margin-top: 8px;
	    font-size: 1rem;
	    border: 1px solid #ddd;
	}
	.radio-btn{
		ion-col{
			border: 1px solid #488aff!important;
		    border-right: 0px!important;
		    &:last-child{
		    	border-right: 1px solid #488aff!important;
		    }
		}
		.item-radio{
			text-align: center;
			min-height: 2rem!important;
			&.item-radio-checked{
				background: #488aff;
				color: #fff;
				ion-label{
					color: #fff!important;
				}
			}
			.radio-md{
				position: absolute;
			    z-index: 99;
			    left: 0px;
			    width: 100%;
			    margin: 0px;
			    top: 0px;
			    bottom: 0px;
				.radio-icon{
					visibility: hidden;
				}
			}
		}
	}
}
.toolbar{
	.toolbar-title{
		font-size: 1.2rem;
	}
}
.searchbar-md .searchbar-input{
	line-height: 2rem;
	font-size: 1.2rem;
}
ion-footer.footer{
	.button-clear-md{
		text-transform: capitalize;
		color: #333;
		.ion-ios-arrow-dropright-circle{
			color: #78D44F;
		}
	}
}
ion-segment{
	ion-segment-button{
		border-bottom-color: transparent!important;
		border-bottom-width: 3px!important;
		color: #333!important;
		font-weight: 500!important;
		&.segment-activated{
			border-color:$blue!important;
		}
	}
	// ion-segment-button{
	// 	border: 1px solid $blue-light;
	// 	border-bottom-color: $blue-light!important;
	// 	border-width: 1px!important;
	// 	color: #333!important;
	// 	height: 3.2rem!important;
	// 	line-height: 3rem!important;
	// 	&.segment-activated{
	// 		background: $blue-light!important;
	// 		color:#fff!important;
	// 		border-color: $blue-light!important;
	// 	}
	// }
}
ion-tags-input{
	.ion-tags-input{
	    margin: 10px 0px;
	    border: 2px dashed $blue-light;
	    min-height: 52px;
	    padding: 0px;
	    .iti-tags-wrap{
	    	display: inline-block;
	    }
		.iti-tag{
			margin: 4px;
			height: 40px;
			font-size: 1rem;
		    max-height: initial;
		    padding: 9px 12px;
		    font-weight: 600;
	        display: inline-block;
			float: none;
			border-radius: 4px;
		    .iti-tag-rm{
		    	width: 14px;
			    height: 14px;
			    border: 1px solid #fff;
			    /* padding: 0px 4px; */
			    display: inline-block;
			    font-size: 8px;
			    text-align: center;
			    border-radius: 50%;
			    background: #fff;
			    position: relative;
			    top: -2px;
			    font-weight: bold;
			    margin-left: 5px;
			    &:before{
		    	    color: #4a8bfc;
				    position: relative;
				    top: -1px;
			    }
			}
		}
	}
}
@media only screen and (min-height: 600px) and (min-width: 768px){
	.modal-wrapper {
	    left: calc(50% - (700px/2));
	    top: calc(50% - (500px/2));
	    position: absolute;
	    width: 700px;
	    height: 500px;
	}	
}