<ion-header>
  <ion-navbar >
    <ion-title align-title="center">
      Schedule DASS-21 to Estelle Potter
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="schedule" color="light">
      <ion-segment-button value="Select Assessment">
        Select Assessment(s)
      </ion-segment-button>
      <ion-segment-button value="Schedule Settings">
        Schedule Settings
      </ion-segment-button>
      <ion-segment-button value="Customise Email">
        Customise Email
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="schedule">

    <div *ngSwitchCase="'Select Assessment'">
      <!--<page-select-assessment></page-select-assessment>-->
      <ion-searchbar (ionInput)="filterAssessments($event)"></ion-searchbar>
      <ion-list inset> 
      <button ion-item *ngFor="let item of assessments " (click)="assessmentSelected(item)">
            <h2>{{item.short_name}} {{item.extended_name}}</h2>
      </button>
  </ion-list>
  <ion-tags-input [(ngModel)]="assessmentNameTag" [placeholder]="'add assessment'" (onChange)="onChange($event)"></ion-tags-input>
    </div>

    <div *ngSwitchCase="'Customise Email'">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>Subject</ion-label>
            <ion-input type="text" [(ngModel)]="subject" name="subject" placeholder="Assessments"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label stacked>Message</ion-label>
            <ion-textarea placeholder="Enter a description" [(ngModel)]="message" name="message"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngSwitchCase="'Schedule Settings'">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>Time</ion-label>
            <ion-input type="text" [(ngModel)]="subject" name="Time" placeholder="Assessments"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label stacked>Date</ion-label>
            <ion-input type="text" [(ngModel)]="subject" name="Date" placeholder="Assessments"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    
  </div> 
  
</ion-content>