<ion-header>

  <ion-navbar>
    <ion-title>Client Details</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'DONE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createClient()">
    
    <ion-list>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>First name or ID</ion-label>
            <ion-input type="text" formControlName="first_name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label stacked>Last name or ID</ion-label>
            <ion-input type="text" formControlName="last_name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked>{{ 'EMAIL' | translate }}</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label stacked>Date of birth</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" min="1960" max="2002-10-31" formControlName="date_of_birth"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

      <ion-row>
          <ion-list radio-group formControlName="sex_id">
            <ion-list-header>
              Gender
            </ion-list-header>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Undefined</ion-label>
                  <ion-radio checked="true" value="1"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Male</ion-label>
                  <ion-radio value="2"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Female</ion-label>
                  <ion-radio value="3"></ion-radio>
                </ion-item>
              </ion-col>
              
            </ion-row>
          </ion-list>
      </ion-row>

    </ion-list>
  </form>
</ion-content>
