<!--
	Generated template for the ClientPage page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->

<!-- <ion-content>
	<ion-row>
		<ion-col>
			<ion-navbar>
				<ion-title>Select Client</ion-title>

				<ion-buttons right>
					<button ion-button icon-only (click)="addClient()">
							<ion-icon name="add"></ion-icon>
							</button>
				</ion-buttons>
			</ion-navbar>
			<ion-searchbar (ionInput)="filterClients($event)"></ion-searchbar>
			<ion-list>
				<button ion-item *ngFor="let item of currentItems " (click)="clientSelected(item)">
					<ion-row>
						<ion-col><h2><b>{{item.first_name}} {{item.last_name}}</b></h2></ion-col>
						<ion-col>{{ calculateAge(item.date_of_birth) }} Years old</ion-col>
						</ion-row>
					</button>
			</ion-list>
		</ion-col>
		<ion-col>
			<client-details [client]="client"></client-details>
		</ion-col>
	</ion-row>
</ion-content> -->

<ion-content>
<div id="main" class="inner-page clients-page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div class="inner-page-nav row">
						<div class="inner-page-header w-100 p-2">
							<h4 class="text-center my-2">Clients</h4>
							<ion-searchbar
							  [(ngModel)]="myInput"
							  [showCancelButton]="shouldShowCancel">
							</ion-searchbar>

							<!-- <div class="inner-page-search">
								<input type="text" id="search" class="form-control">
								<label for="search" class="search-label">
									<img src="./assets/images/svg/search-icon.svg" alt="">
									<span>Search</span>
								</label>
							</div> -->
						</div>

						<div class="inner-page-list w-100">
							<ion-list>
								<button class="li-block w-100" [class.active]="item.id == client.id" text-left *ngFor="let item of currentItems" (click)="clientSelected(item)">
									<p class="mb-3">{{item.first_name}} {{item.last_name}}</p>
									<p class="small">{{ calculateAge(item.date_of_birth) }} years old</p>
								</button>
							</ion-list>
						</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="inner-page-content common-assessment-content w-100">
						<div class="single-client-page">
							<div class="client-info-block mt-4">
								<div class="client-info">
									<div class="row">
										<div class="col-md-8">
											<img src="./assets/images/none.png" class="float-left m-3 mt-4" alt="" style="width:70px;height:70px;">
											<div class="client-details my-3">
												<h3 class="font-large font-weight-bold mb-1">Josua Grant</h3>
												<p class="mb-0">
													<span class="font-weight-bold">Age: </span>
													<span class="value"> 53 (7 July 1964)</span>
												</p>
												<p class="mb-0">
													<span class="font-weight-bold">Email: </span>
													<span class="value"> joshuagrant@email.com</span>
												</p>
											</div>
										</div>
										<div class="col-md-4 text-right">
											<img src="./assets/images/svg/edit.svg" alt="" class="m-2">
											<br/>
											<button class="btn btn-primary mr-3 mt-3 px-4">
												<img src="./assets/images/svg/ipad.svg" alt="">
												Administer
											</button>
										</div>
									</div>
								</div>
								<div class="client-actions">
									<div class="row">
										<div class="col-md-6 py-2 pr-0 text-center">
												<button class="text-center w-100">
													<img class="minus-top-2" src="./assets/images/svg/email-black.svg" alt="">
													Email
												</button>
										</div>
										<div class="col-md-6 py-2 pl-0 text-center">
											<button class="text-center w-100">
												<img class="minus-top-2" src="./assets/images/svg/email-black.svg" alt="">
												Subscribe
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="scheduling mt-4">
								<div class="header">
									<h3 class="float-left font-lead m-0">Scheduling</h3>
									<div class="scheduling-nav float-right">
										<a href="">View Sent Logs</a>
										<a href="">View Future Logs</a>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="scheduling-list">
									<div class="single-scheduling">
										<div class="status mb-2">
											<span class="signal success"></span>
											<span class="font-weight-bold">In Progress</span>
											<img src="./assets/images/svg/edit.svg" alt="" class="float-right">
											<!-- <span class="signal error"></span>
											<span class="signal warning"></span> -->
										</div>
										<p class="info">
											Repeated <span class="highlight">DASS-21</span> scheduled on <span class="highlight">21 July 2017</span> every <span class="highlight">Week</span> for <span class="highlight">8</span> cycles to <span class="highlight">emailtest@email.com</span>
										</p>
									</div>
									<div class="single-scheduling">
										<div class="status mb-2">
											<span class="signal error"></span>
											<span class="font-weight-bold">Expired</span>
											<img src="./assets/images/svg/edit.svg" alt="" class="float-right">
											<!-- <span class="signal error"></span>
											<span class="signal warning"></span> -->
										</div>
										<p class="info">
											Repeated <span class="highlight">DASS-21</span> scheduled on <span class="highlight">21 July 2017</span> every <span class="highlight">Week</span> for <span class="highlight">8</span> cycles to <span class="highlight">emailtest@email.com</span>
										</p>
									</div>
								</div>
							</div>

							<div class="past-results results mt-4">
								<div class="header">
									<h3 class="font-lead">Past Results</h3>
								</div>
								<ion-list class="list-group">
									<button class="list-group-item" ion-item *ngFor="let item of currentItems" (click)="clientSelected(item)">
										<ion-row>
												<ion-col>
													<span class="date">21 JUNE 2017</span>
													<span class="code">DTC-1</span>
												</ion-col>
												<ion-col text-right>
													<span class="message">Contacted Via Email <img class="minus-top-2" src="./assets/images/svg/email-grey.svg" alt=""></span>
												</ion-col>
											</ion-row>
										</button>
								</ion-list>
							</div>

							<div class="past-results results mt-4">
								<div class="header">
									<h3 class="font-lead">Notes</h3>
								</div>
								<ion-list class="list-group">
									<button class="list-group-item" ion-item *ngFor="let item of currentItems" (click)="clientSelected(item)">
										<ion-row>
												<ion-col>
													<span class="date">21 JUNE 2017</span>
													<span class="code">Lorem ipsum dolor sit amet, consectetur adipisicing.</span>
												</ion-col>
											</ion-row>
										</button>
								</ion-list>
								<button class="btn btn-primary mt-2 px-4">Add Note</button>
								<div class="pad30"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</ion-content>