<!--
  Generated template for the ClientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Select Client</ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="addClient()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="cancel()" end>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filterClients($event)"></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let item of currentItems " (click)="clientSelected(item)">
          <ion-row>
            <ion-col><h2><b>{{item.first_name}} {{item.last_name}}</b></h2></ion-col>
            <ion-col>{{ calculateAge(item.date_of_birth) }} Years old</ion-col>
            </ion-row>
          </button>
  </ion-list>
</ion-content>


